body{
    background: url("http://reyka.com/assets/bottle-usa-307b7982a172aa3bd6a6318f3737501c.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}